env/Lib/site-packages/pip/_internal/__pycache__/pyproject.cpython-312.pyc
/env
.vscode/settings.json
__pycache__/DNA_BERT_encoder.cpython-312.pyc
csv/BIOSCAN_5M_Insect_Dataset_metadata.csv
data/run/data_f23_Katsuura/IOHprofiler_f23_DIM10.dat
